.App {
  text-align: center;
}

.App-header {
  /* height: 150px;
  padding: 20px;
  color: white; */
}

.App-user-img {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
}

.App-user-img img {
  border: 2px solid transparent;
  border-radius: 50%;
  vertical-align: middle;
  fill: #623231;
  width: 145px;
}

.Rating-container {
  align-items: center;
  bottom: 1;
  display: flex;
  position: fixed;
  width: 100%;
}

.Rating-container img {
  flex: 1;
  width: 20%;
}
